.footer {
  background-color: #333;
  padding: 2rem 0 1rem 0;
  box-shadow: 2px -2px 8px 1px grey;
}

.left-col{
  color: white;
}

.dateBox{
  background-color: #12aa95;
  text-align: center;
  border-radius: 2px;
}

.middle-col{
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  color: white;
}

.right-col{
  text-align: right;
  color: #12aa95;
}
