.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  background-color: #333;
}

.left-col{
  color: white;
}

.dateBox{
  background-color: #12aa95;
  padding: 0;
  margin: 0;
  text-align: center;
}

.middle-col{
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  color: white;
}

.right-col{
  text-align: right;
  color: #12aa95;
}
