.navbar{
  background-color: #12aa95;
  font-family: 'Julius Sans One', sans-serif;
  box-shadow: 2px 2px 8px 1px grey;
}

.navbar li a{
  color: white;
  margin-right: 2rem;
  text-align: center;
}

.navbar li a:hover{
  background-color: white;
  color: #12aa95;
  border-radius: .2rem;
}

.navbar-brand {
  color: white;
  font-size: 1.9rem;
  font-weight: normal;/*removes bold*/
  letter-spacing: 3.5px;/*spaces out leters nicely*/
}

a {
  color: #aaa;
  font-weight: 200;
}
