<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/">Elder-Care</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a> <!-- remove later or change to dashboard -->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/appointments">Appointments & Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/diary">Diary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reminders">Reminders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Test-Signup</a> <!-- remove later -->
      </li>
    </ul>
  </div>
</nav>
