.button-label{
  color: white;
}

.is-invalid {
  color: red;
}

label{
  color: #12aa95;
}

input::placeholder{
  color: #aaaaaa;
}

.form-btn {
  color: #FFFFFF;
  background-color: #7BDBC0;
  border-color: #FFFFFF;
}

.form-btn:hover,
.form-btn:focus,
.form-btn:active,
.form-btn.active,
.open .dropdown-toggle.form-btn {
  color: #FFFFFF;
  background-color: #06BD89;
  border-color: #FFFFFF;
}

.submit-btn{
  color: #FFFFFF;
  background-color: #06BD89;
  border-color: #FFFFFF;
}

#signupScreen{
  margin-top: 8rem;
  margin-bottom: 12rem;
}


