html, body{
  background-color: #333;
}

form{
  padding: 1.5rem;
}

.headings{
  font-family: 'Julius Sans One', sans-serif;
  font-weight: normal;
  letter-spacing: 3.5px;
}

#heading2 {
  color: #12aa95;
  font-size: 1.9rem;
  text-align: center;
}

#heading3 {
  color: #12aa95;
  font-size: 1.4rem;
}

.main-content{
  background-color: #edfffc;
  margin: 1rem;
  padding:1rem;
  box-shadow: 2px 2px 8px 1px grey;
}

button[type="submit"]{
  margin-top: 1rem;
}

.formFooterText{
  text-align: center;
}

.formFooterLink{
  color: #06BD89;
}


